<% if notice %>
  <p class="alert alert-success"><%= notice %>
	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-left:10px;">&times;</a>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %>
	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-left:10px;">&times;</a>
  </p>
<% end %>