<% if notice %>
  <p class="alert alert-success" id="flash" style="z-index:1000;"><%= notice %>
	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-left:10px;">&times;</a>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" id="flash" style="z-index:1000;"><%= alert %>
	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-left:10px;">&times;</a>
  </p>
<% end %>