/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

section > div, .panel > div {
   padding: 15px 20px 15px 15px;
   }

a{
  text-decoration: none !important;
}
.no_radius{
  border-radius: 0;
}
.weather_report{
  width: 100%;
  float: right;
  clear: both;
  margin-bottom: 20px;
}

.news_api_webhose{
	width: 100%;
	float:right;
	text-align:justify;
	word-break:break-word;
	overflow-y:scroll;
	height:338px;
}
.news_api{
	width: 100%;
	float:right;
	text-align:justify;
	word-break:break-word;
	word-wrap:break-word;
	overflow-y:scroll;
	height:338px;
}
.news-heading{
	width: 100%;
	float:right;
}
ul.news_ul{
	list-style-type: none;
}
.load_news{
	display: none;
	margin: 5px 47%;
}
.btn-align{
	margin-right:5px !important;
	color:#fff !important;
}
.trash_btn_div {
  # display: none;
}
